@model IEnumerable<Kamtek_GestioN.Models.LigneCommande>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";
}

<h1>Commande</h1>

<div class="container">

    @*<hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RefContrat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefContrat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCommande)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCommande)
        </dd>
    </dl>*@

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Désignation</th>
                <th>Quantité</th>
                <th>Date de création</th>
                <th>Technicien</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Article.Id</td>
                    <td>@item.Article.Designation</td>
                    <td>@item.Quantite</td>
                    <td>@item.DateCreated</td>
                    <td>@item.UserId</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>

</div>