@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Commande</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Désignation</th>
            <th>Quantité</th>
            <th>Date de création</th>
            <th>Option</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.commande)
        {
        <tr>
            <td>@item.Article.Id</td>
            <td>@item.Article.Designation</td>
            <td>@item.Quantite</td>
            <td>@item.DateCreated</td>
            <td><a asp-controller="Commandes" asp-action="remove" asp-route-id="@item.Article.Id">Retirer</a></td>
            <td></td>
        </tr>
        }
    </tbody>
</table>


<a asp-controller="Articles" asp-action="Index">Ajouter un article</a>
<a asp-controller="Commandes" asp-action="Create">Valider le bon</a>
