@model IEnumerable<Kamtek_GestioN.Models.Commande>

@{
    ViewData["Title"] = "Liste";
}

<h1 class="text-center">Liste des commandes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RefContrat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCommande)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RefContrat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCommande)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Voir</a>
                <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
